---
layout: default
title: "journal of a high functional introvert."
---

<section class="container home--intro">    
    <div class="home--hero-label">                  
      <span class="small-title">A Journal of a</span>
      <h1 class="hero-title">
        <span>
            High Functional Introvert
        </span>
      </h1>           
      <span class="small-link-title">
        <a href="/about/">
          Who Am I?
          <img src="{{ '/assets/images/right-arrow.svg'|theme }}"/>
      </a>
      </span>
    </div>    
</section>

<section class="container home--section content--section">      
    <a href="/blog/">
      <h1 class="home--section--title">
        /Blog
        <span>Latest Post</span>
      </h1>    
    </a>        
    <div class="grid blog--grid home">
      <div class="grid--item grid--twelve grid--six--lg grid--six--md">
        {% for post in site.tags.featured limit:1 %}            
          <figure class="post__list--item-featured">
              <a href="{{ post.url }}"><img data-object-fit class="post__list--image post__list--image-featured" src="{{ post.featured_image }}"></a>
              <figcaption class="post__list--text post__list--text-featured">                                                 
                  {% if post.tags %}
                    {% assign tags = post.tags %}
                  {% else %}
                    {% assign tags = page.tags %}
                  {% endif %}
                  {% for tag in tags %}
                  <span class="post__list--category-label">
                      <a href="/{{category|slugize}}">
                      {{tag}}
                    </a>
                  </span>
                  {% unless forloop.last %}&nbsp;{% endunless %}
                  {% endfor %}  
    
                  <a href="{{ post.url }}">
                    <h3 class="post__list--title">                              
                        {{ post.title }}                              
                    </h3>
                  </a>                  
                  
                  <span class="post__list--category-label">
                    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                    {{ post.date | date: date_format }}
                  </span>                  
              </figcaption>                                                                 
            </figure>                            
        {% endfor %}
      </div>
      <div class="grid--item grid--twelve grid--six--lg grid--six--md">
        {% for post in site.posts limit:5 %}            
        <figure class="post__list--item-home">
          <a href="{{ post.url }}"><img data-object-fit class="post__list--image post__list--image-home" src="{{ post.featured_image }}"></a>
          <figcaption class="post__list--text post__list--text-home">                                                 
              {% if post.categories %}
                {% assign categories = post.categories %}
              {% else %}
                {% assign categories = page.categories %}
              {% endif %}
              {% for category in categories %}
              <span class="post__list--category-label">
                  <a href="/{{category|slugize}}">
                  {{category}}
                  </a>
              </span>
              {% unless forloop.last %}&nbsp;{% endunless %}
              {% endfor %}  

              <a href="{{ post.url }}">
                <h3 class="post__list--title">                              
                    {{ post.title }}                              
                </h3>
              </a>              
              
              <span class="post__list--category-label">
                {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                {{ post.date | date: date_format }}
              </span>
          </figcaption>                                                                                     
        </figure>                            
        {% endfor %}
      </div>
    </div>    
        
    <div class="home--section__bottom">             
        <div class="home--section__link">
            <a href="/blog/">More Stories <img src="{{ '/assets/images/right-arrow.svg'|theme }}"/></a>      
        </div>       
    </div>    
</section>

<section class="content--section bukubergilir--container" style="background-image: url('{{ '/assets/images/page/bukubergilir-bg.jpg'|theme }}');">
  <div class="bukubergilir--section">            
      <a href="/buku-bergilir/">
        <h1 class="content--section--title text-center">
          #BUKUBERGILIR
        </h1>
      </a>              
  </div>  
</section>

<section class="content--section playground--container container">
  <div class="playground--section">                
    <div class="grid">
      <div class="grid--item grid--four--lg grid--four--md grid--twelve">
        <div class="playground--intro">
          <h1 class="content--section--title text-center">
            /PLAYGROUND
          </h1>
          <p>
            Collection of things that i do for fun or just to play around using code.
          </p>
          <div class="home--section__link playground--section__link">
              <a href="https://codepen.io/hasyemiraws" target="_blank">Visit my Playground</a>      
          </div>
        </div>        
      </div>
      <div class="grid--item grid--eight--lg grid--eight--md grid--twelve">
        <div class="playground--list">
          <div class="grid m-b-0 playground--list__grid">
            <div class="grid--item grid--four--lg grid--four--md grid--six">
              <figure class="playground--item">
                <a href="https://codepen.io/hasyemiraws/details/LQeLpz/" target="_blank">
                  <img class="playground--thumb" src="{{ '/assets/images/playground/003.png'|theme }}" />                  
                </a>
              </figure>
            </div>
            <div class="grid--item grid--four--lg grid--four--md grid--six">
                <figure class="playground--item">
                  <a href="https://codepen.io/hasyemiraws/details/xXoNrr/" target="_blank">
                    <img class="playground--thumb" src="{{ '/assets/images/playground/002.png'|theme }}" />                  
                  </a>
                </figure>
            </div>
            <div class="grid--item grid--four--lg grid--four--md grid--six">
                <figure class="playground--item">
                  <a href="https://codepen.io/hasyemiraws/details/WZOGPm/" target="_blank">
                    <img class="playground--thumb" src="{{ '/assets/images/playground/001.png'|theme }}" />                  
                  </a>
                </figure>
            </div>
          </div>
        </div>
      </div>
    </div>        
  </div>  
</section>

<section class="content--section podcast--container">
  <div class="podcast--section container">    
    <div class="podcast--grid">      
      <a href="#">
        <h1 class="home--section--title podcast--section-title">
          /Podcast        
        </h1>    
      </a>     
      <iframe class="podcast--embed" src="https://anchor.fm/suaranetizen/embed" height="150px" width="400px" frameborder="0" scrolling="no"></iframe>  
    </div>
  </div>
</section>