<div class="about-grid">  
  <div class="about-item grid-align-center">
    <div class="about-info">
      <h2 class="title-section">Hello!</h2>
      <p>I'm a Front End Developer from Indonesia currently living and work my daily life here in Kuala Lumpur, Malaysia. I write about books, code, and personal thoughts about life. Say hi <a class="about-info-link" href="mailto:{{ site.email }}">hi@hasyemiraws.com</a>.</p>
      <div class="about-social">
        <a target="_blank" href="{{ site.twitter_url }}">
          <i class="fa fa-twitter"></i>         
        </a>
        <a target="_blank" href="{{ site.ig_url }}">
          <i class="fa fa-instagram"></i>
        </a>
        <a target="_blank" href="{{ site.fb_url }}">
          <i class="fa fa-facebook"></i>
        </a>
        <a target="_blank" href="{{ site.youtube_url }}">
          <i class="fa fa-youtube-play"></i>
        </a>        
        <a target="_blank" href="{{ site.codepen_url }}">
          <i class="fa fa-codepen"></i>
        </a>        
      </div>
    </div>    
  </div>
  <div class="about-item">
    <div class="about-image" style="background-image: url('{{ '/assets/images/profile.jpg'|theme }}');">   
    </div>    
  </div> 
</div>
