.home {
    &--intro {
        height: 90%;        
        display: flex;        
    }    

    &--hero-label {		     
        margin: 0 auto;        
        text-decoration: none;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;            
        position: relative;
        min-width: 320px;
        
        .small-title {
            font-family: $font-primary;
            font-size: 1em;
            text-transform: uppercase;
            letter-spacing: 2px;
        }    
    
        h1 {
            display: inline-block;            
            font-weight: 500;
            letter-spacing: 2px;
            padding-bottom: 5px;            
            font-family: $font-primary;
            font-size: 2.5em;
            margin: 10px 0 0;
            text-transform: lowercase;                                    
        }	
    }

    &--section {

	}
	
	&--pagination {
		display: flex;
		margin-top: 40px;
		padding: 0 30px;
		justify-content: space-between;

		&_next-stories a, &_prev-stories a {
			font-size: 24px;
			color: #101010;
			text-transform: uppercase;		

			@include breakpoint('mobile') {
				font-size: 19px;
			}
			
			.arrow {				
				@include breakpoint('phablet') {
					opacity: 0;
					transition: all 0.3s ease-in-out;
				}								
			}

			.arrow-right {
				margin-left: 5px;

				@include breakpoint('phablet') {
					margin-left: 0;
				}								
			}

			.arrow-left {
				margin-right: 5px;

				@include breakpoint('phablet') {
					margin-right: 0;
				}					
			}

			&:hover {
				@include breakpoint('phablet') {
					.arrow {
						opacity: 1;					
						// transform: translateX(5px);
					}

					.arrow-right {
						margin-left: 5px;
					}

					.arrow-left {
						margin-right: 5px;
					}
				}
			}
		}
	}
}


.hero {
	margin: 0;
	position: relative;
	background: #101010;
}

.hero-item {
	width: 100%;	
	position: relative;
	text-decoration: none;
	color: white;

	.hero-image {
		width: 100%;
		height: 100%;
		min-height: 480px;			
		background-size: cover;
		background-position: center center;	    
		border-radius: 3px;
		display: flex;
	    justify-content: center;
	    align-items: center;
		transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;	

		&-post {
			min-height: 400px;
		}

		&:before {
			content: ' ';
			display: block;
			position: absolute;
			border-radius: 3px;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			opacity: 0.6;
			background-color: black;
			background-repeat: no-repeat;
			background-position: 50% 0;
			-ms-background-size: cover;
			-o-background-size: cover;
			-moz-background-size: cover;
			-webkit-background-size: cover;
			background-size: cover;
		}		
	}	
}
		
.categories-label {
	font-size: 11px;
	color: white;
	margin-top: 5px;
	text-transform: uppercase;    
    font-family: "Rambla", sans-serif;	

    span {
    	background: white;
    	color: black;
    	padding: 5px;
    }
}

.link {
	font-size: 17px;
	color: white;
}

.category--section {	
	margin-top: 40px;
}

.book--section {
	margin-top: 60px;
	margin-bottom: 60px;
}

.top-section {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
	float: left;
}

.section__list {
	position: relative;
    padding: 0 25px 0 50px;
}

.section {
	&--404 {
		display: flex;
		flex-direction: column;
		justify-content: center;		
		height: 100vh;
		text-align: center;
	    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4) ), url(/assets/images/page/lost.jpg);
	    background-size: cover;
	    background-position: bottom;

	    h1 {
		   	margin: 0;    
		    line-height: 1;    
		    letter-spacing: 10px;
		    font-size: 7em;
		    font-weight: 600;
		    font-family: $font-primary;		    
		    margin-bottom: 55px;
		}

		h6 {
			font-size: 1.2em;					
			font-weight: 500;
			text-transform: uppercase;
			font-family: $font-primary;		    
		}

		.strike {
			position: relative;

			&:before, &:after {
				content: '';
			    position: absolute;
			    left: 0;
			    width: 100%;
			    transform: translateY(-50%);
			    border-top: 4px solid #222;
			    border-radius: 15px;
			}			

			&:before {			    
			    top: 35%;			    			    			    
			}

			&:after {
			    top: 65%;			    
			}			
		}

		.fall {					    
		    transition: all ease 0.2s;
		    display: inline-block;
		    transform-origin: bottom center;
		    line-height: 0.5em;
		    animation: fall 4s forwards, swing 2s 4s infinite alternate;
		}
	}
}

.section-read-more {
	display: inline-block;
    border: 1px solid #444847;
    color: #444847;
    padding: 7px 14px;
    min-width: 50px;
    text-align: center;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 13px;
    margin-left: 20px;
    font-family: "Rambla", sans-serif;
    transition: all 0.3s;

    &:hover {
    	background: #444847;
    	color: white;
    }
}

.title-section {
    font-size: 3em;
    font-weight: 800;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 0;
    font-family: $font-primary;
    color: #8a9492;

    &.skew {
    	z-index: 1;
	    font-size: 3.5em;
	    position: absolute;
        letter-spacing: 5px;
	    top: 0px;
	    left: 70px;	    
	    transform: rotate(90deg);
	    transform-origin: left top 0;
    }
}