.footer {
    &__section {                
    }	

    &__about--container {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 20px 0;   
        
        @include breakpoint(tablet) {
            flex-direction: row;
        }
    }

    &__about--image {
        height: 150px;
        background-size: cover;
        background-repeat: no-repeat;
        width: 150px;        
        border-radius: 50%;
        margin-bottom: 20px;

        @include breakpoint(tablet) {
            height: 180px;
            width: 180px;
            margin-bottom: 0;
        }
    }

    &__about--copyright {
        font-family: "visionbold", sans-serif;
        font-size: 11px;
    }

    &__about--info {		
		max-width: 90%;
        padding: 10px;        

        @include breakpoint(tablet) {
            max-width: 65%;
            padding: 20px;
        }

        .title-section {			
            color: #101010cf;
            text-align: center;
            letter-spacing: 1px;
            font-size: 1.8em;
            margin-bottom: 10px;

            @include breakpoint(tablet) {
                font-size: 2.2em;
            }
        }

        &--link {
			color: #101010;
			font-weight: 700;

			&:hover {
				color: #101010;
				opacity: 0.8;
			}
        }	                
    }    

    &__about--social {
        font-size: 1.5em;

        a {
            color: #101010;
            margin-right: 15px;
        }
    }
}