// GRID SYSTEM
@supports not (display: grid) {
 .grid {
    box-sizing: border-box;    
    display: flex;    
    flex: 0 1 auto;    
    flex-direction: row;    
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;   
}  

.grid--item {    
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1rem;
    flex-basis: 0;
    -webkit-box-flex-grow: 1;
    -moz-box-flex-grow:  1;
    -webkit-flex-grow:  1;
    -ms-flex-grow: 1;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding-right: 10px;
    padding-left: 10px;
}
  
  .grid--auto-width .grid--item {
    width: auto;
    flex-basis: 0;
  }
  
  // .grid--item:first-child {
  //   padding-left: 0;
  // }
  
  // .grid--item:last-child {
  //   padding-right: 0;
  // }

.grid--top-align {
    align-items: flex-start;
}

.grid--bottom-align {
    align-items: flex-end;
}

.grid--middle-align {
    align-items: center;
}
  
.grid--twelve {
    flex-basis: 100%;
    max-width: 100%;
  }

.grid--eleven {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;  
}

.grid--ten {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
}

.grid--nine {
    flex-basis: 75%;
    max-width: 75%;    
}

.grid--eight {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
}

.grid--seven {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;  
}

.grid--six {
    flex-basis: 50%;
    max-width: 50%;
}

.grid--five {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;  
}

.grid--four {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
}

.grid--three {
    flex-basis: 25%;
    max-width: 25%;    
}

.grid--two {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
}
  
.grid--one {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

  @media screen and (max-width: 730px) {
    .grid--reorder-1--sm {
        order: -1;
    }
  
    .grid--reorder-2--sm {
        order: 2;
    }
  
    .grid--reorder-3--sm {
        order: 3;
    }
  
    .grid--reorder-4--sm {
        order: 4;
    }
  
    .grid--reorder-5--sm {
        order: 5;
    }
  
    .grid--reorder-6--sm {
        order: 6;
    }
  
    .grid--reorder-7--sm {
        order: 7;
    }
  
    .grid--reorder-8--sm {
        order: 8;
    }
  
    .grid--reorder-9--sm {
        order: 9;
    }
  
    .grid--reorder-10--sm {
        order: 10;
    }
  
    .grid--reorder-11--sm {
        order: 11;
    }
  }


@media screen and (min-width: 730px) {
      .main {
          margin: 0 auto;
      }

      .grid--twelve--md {
           flex-basis: 100%;
            max-width: 100%;
      }

      .grid--eleven--md {
          flex-basis: 91.66666667%;
    max-width: 91.66666667%;    
      }

      .grid--ten--md {
          flex-basis: 83.33333333%;
    max-width: 83.33333333%;
      }

      .grid--nine--md {
          flex-basis: 75%;
    max-width: 75%;     
      }
  
.grid--eight--md {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
}

.grid--seven--md {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;  
}

.grid--six--md {
    flex-basis: 50%;
    max-width: 50%;
}

.grid--five--md {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;  
}

.grid--four--md {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
}

.grid--three--md {
    flex-basis: 25%;
    max-width: 25%;    
}

.grid--two--md {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
}
  
.grid--one--md {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.grid--reorder-1--md {
    order: -1;
}

.grid--reorder-2--md {
    order: 2;
}

.grid--reorder-3--md {
    order: 3;
}

.grid--reorder-4--md {
    order: 4;
}

.grid--reorder-5--md {
    order: 5;
}

.grid--reorder-6--md {
    order: 6;
}

.grid--reorder-7--md {
    order: 7;
}

.grid--reorder-8--md {
    order: 8;
}

.grid--reorder-9--md {
    order: 9;
}

.grid--reorder-10--md {
    order: 10;
}

.grid--reorder-11--md {
    order: 11;
}
  }

@media screen and (min-width: 1024px) {
    .grid--twelve--lg {
         flex-basis: 100%;
         max-width: 100%;
    }

    .grid--eleven--lg {
        flex-basis: 91.66666667%;
        max-width: 91.66666667%;    
    }

    .grid--ten--lg {
        flex-basis: 83.33333333%;
        max-width: 83.33333333%;
    }

    .grid--nine--lg {
        flex-basis: 75%;
        max-width: 75%;     
    }
  
    .grid--eight--lg {
        flex-basis: 66.66666667%;
        max-width: 66.66666667%;
    }

    .grid--seven--lg {
        flex-basis: 58.33333333%;
        max-width: 58.33333333%;  
    }

    .grid--six--lg {
        flex-basis: 50%;
        max-width: 50%;
    }

    .grid--five--lg {
        flex-basis: 41.66666667%;
        max-width: 41.66666667%;  
    }

    .grid--four--lg {
        flex-basis: 33.33333333%;
        max-width: 33.33333333%;
    }

    .grid--three--lg {
        flex-basis: 25%;
        max-width: 25%;    
    }

    .grid--two--lg {
        flex-basis: 16.66666667%;
        max-width: 16.66666667%;
    }
  
    .grid--one--lg {
      flex-basis: 8.33333333%;
      max-width: 8.33333333%;
    }

    .grid--reorder-1--lg {
        order: -1;
    }
    
    .grid--reorder-2--lg {
        order: 2;
    }
    
    .grid--reorder-3--lg {
        order: 3;
    }
    
    .grid--reorder-4--lg {
        order: 4;
    }
    
    .grid--reorder-5--lg {
        order: 5;
    }
    
    .grid--reorder-6--lg {
        order: 6;
    }
    
    .grid--reorder-7--lg {
        order: 7;
    }
    
    .grid--reorder-8--lg {
        order: 8;
    }
    
    .grid--reorder-9--lg {
        order: 9;
    }
    
    .grid--reorder-10--lg {
        order: 10;
    }
    
    .grid--reorder-11--lg {
        order: 11;
    }
  }
}

@supports (display: grid) {
  .grid {
      width: 100%;    
      display: grid;
      grid-template-columns: repeat(12, 1fr);      
      grid-column-gap: 10px;
      grid-row-gap: 15px;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
  }  
  
  .grid--item {      
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.1rem;
      max-width: 100%;
      position: relative;
      padding-left: 0;
      padding-right: 0;
  }

  .grid--auto-width {
      grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }

  .grid--top-align {
      align-items: start;
  }

  .grid--bottom-align {
      align-items: end;
  }

  .grid--middle-align {
      align-items: center;
  }

  .grid--twelve {
      grid-column-end: span 12;
  }

  .grid--eleven {
      grid-column-end: span 11;   
  }

  .grid--ten {
      grid-column-end: span 10;
  }

  .grid--nine {
      grid-column-end: span 9;    
  }

  .grid--eight {
      grid-column-end: span 8;
  }

  .grid--seven {
      grid-column-end: span 7;    
  }

  .grid--six {
      grid-column-end: span 6;
  }

  .grid--five {
      grid-column-end: span 5;    
  }

  .grid--four {
      grid-column-end: span 4;
  }

  .grid--three {
      grid-column-end: span 3;    
  }

  .grid--two {
      grid-column-end: span 2;
  }  

  @media screen and (min-width: 480px) {
      .grid {
          grid-column-gap: 10px;
      }
  }

  @media screen and (max-width: 730px) {
    .grid--reorder-1--sm {
        grid-row: 1;
        grid-column-start: 1;
    }
  
    .grid--reorder-2--sm {
        grid-row: 1;
        grid-column-start: 2;
    }
  
    .grid--reorder-3--sm {
        grid-row: 1;
        grid-column-start: 3;
    }
  
    .grid--reorder-4--sm {
        grid-row: 1;
        grid-column-start: 4;
    }
  
    .grid--reorder-5--sm {
        grid-row: 1;
        grid-column-start: 5;
    }
  
    .grid--reorder-6--sm {
        grid-row: 1;
        grid-column-start: 6;
    }
  
    .grid--reorder-7--sm {
        grid-row: 1;
        grid-column-start: 7;
    }
  
    .grid--reorder-8--sm {
        grid-row: 1;
        grid-column-start: 8;
    }
  
    .grid--reorder-9--sm {
        grid-row: 1;
        grid-column-start: 9;
    }
  
    .grid--reorder-10--sm {
        grid-row: 1;
        grid-column-start: 10;
    }
  
    .grid--reorder-11--sm {
        grid-row: 1;
        grid-column-start: 11;
    }
  }

  @media screen and (min-width: 730px) {
      .main {
          margin: 0 auto;
      }

      .grid {
          grid-column-gap: 20px;
      }

      .grid--twelve--md {
          grid-column-end: span 12;
      }

      .grid--eleven--md {
          grid-column-end: span 11;   
      }

      .grid--ten--md {
          grid-column-end: span 10;
      }

      .grid--nine--md {
          grid-column-end: span 9;    
      }

      .grid--eight--md {
          grid-column-end: span 8;
      }

      .grid--seven--md {
          grid-column-end: span 7;    
      }

      .grid--six--md {
          grid-column-end: span 6;
      }

      .grid--five--md {
          grid-column-end: span 5;    
      }

      .grid--four--md {
          grid-column-end: span 4;
      }

      .grid--three--md {
          grid-column-end: span 3;    
      }

      .grid--two--md {
          grid-column-end: span 2;
      }

      .grid--reorder-1--md {
        grid-row: 1;
        grid-column-start: 1;
    }
  
    .grid--reorder-2--md {
        grid-row: 1;
        grid-column-start: 2;
    }
  
    .grid--reorder-3--md {
        grid-row: 1;
        grid-column-start: 3;
    }
  
    .grid--reorder-4--md {
        grid-row: 1;
        grid-column-start: 4;
    }
  
    .grid--reorder-5--md {
        grid-row: 1;
        grid-column-start: 5;
    }
  
    .grid--reorder-6--md {
        grid-row: 1;
        grid-column-start: 6;
    }
  
    .grid--reorder-7--md {
        grid-row: 1;
        grid-column-start: 7;
    }
  
    .grid--reorder-8--md {
        grid-row: 1;
        grid-column-start: 8;
    }
  
    .grid--reorder-9--md {
        grid-row: 1;
        grid-column-start: 9;
    }
  
    .grid--reorder-10--md {
        grid-row: 1;
        grid-column-start: 10;
    }
  
    .grid--reorder-11--md {
        grid-row: 1;
        grid-column-start: 11;
    }
  }

  @media screen and (min-width: 1024px) {
      .grid--twelve--lg {
          grid-column-end: span 12;
      }

      .grid--eleven--lg {
          grid-column-end: span 11;   
      }

      .grid--ten--lg {
          grid-column-end: span 10;
      }

      .grid--nine--lg {
          grid-column-end: span 9;    
      }

      .grid--eight--lg {
          grid-column-end: span 8;
      }

      .grid--seven--lg {
          grid-column-end: span 7;    
      }

      .grid--six--lg {
          grid-column-end: span 6;
      }

      .grid--five--lg {
          grid-column-end: span 5;    
      }

      .grid--four--lg {
          grid-column-end: span 4;
      }

      .grid--three--lg {
          grid-column-end: span 3;    
      }

      .grid--two--lg {
          grid-column-end: span 2;
      }

      .grid--reorder-1--lg {
        grid-row: 1;
        grid-column-start: 1;
    }
  
    .grid--reorder-2--lg {
        grid-row: 1;
        grid-column-start: 2;
    }
  
    .grid--reorder-3--lg {
        grid-row: 1;
        grid-column-start: 3;
    }
  
    .grid--reorder-4--lg {
        grid-row: 1;
        grid-column-start: 4;
    }
  
    .grid--reorder-5--lg {
        grid-row: 1;
        grid-column-start: 5;
    }
  
    .grid--reorder-6--lg {
        grid-row: 1;
        grid-column-start: 6;
    }
  
    .grid--reorder-7--lg {
        grid-row: 1;
        grid-column-start: 7;
    }
  
    .grid--reorder-8--lg {
        grid-row: 1;
        grid-column-start: 8;
    }
  
    .grid--reorder-9--lg {
        grid-row: 1;
        grid-column-start: 9;
    }
  
    .grid--reorder-10--lg {
        grid-row: 1;
        grid-column-start: 10;
    }
  
    .grid--reorder-11--lg {
        grid-row: 1;
        grid-column-start: 11;
    }
  }
}

// End of GRID System


.grid-align-center {
	align-self: center;
}