<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>    
    {% include header.html %}                
    
    <section>              
      {{ content }}                      
    </section>    


    <footer class="footer__section">
      <div class="container">
        {% include footer.html %}
      </div>        
    </footer>    
  
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>      
  <script type="text/javascript" src="{{ "/assets/js/main.js" | relative_url }}?t={{site.time | date: '%s%N'}}"></script>    
  <script type="text/javascript" src="{{ "/assets/js/objectFitPolyfill.basic.min.js" | relative_url }}?t={{site.time | date: '%s%N'}}"></script>    
  </body>  

</html>
