---
layout: default
---
<div itemscope itemtype="http://schema.org/BlogPosting">
<section class="featured-cover">
    <div class="featured">                             
      <div class="hero">          
        <div class="hero-item">
          <div class="image hero-image hero-image-post" style="background-image: url('{{ page.featured_image }}');">
              <div class="hero-label">                                
              <h1 itemprop="name headline">
                {{ page.title | escape }}               
              </h1>           
            </div>
          </div>      
        </div>          
      </div>
    </div>
</section>

<section class="post--section">
  <div class="container container__post">

    <article class="article-post">

      <header class="article-post-header">
        <!-- <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1> -->        
        {% if post.categories %}
          {% assign categories = post.categories %}
        {% else %}
          {% assign categories = page.categories %}
        {% endif %}
        {% for category in categories %}
        <span class="article-category-label">
          <!-- <a href="/categories/#{{category|slugize}}"> -->
            {{category}}
          <!-- </a> -->
        </span>
        {% unless forloop.last %}&nbsp;{% endunless %}
        {% endfor %}

        <p class="article-post-meta">
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            {{ page.date | date: date_format }}
          </time>          
        </p>        

      </header>

      <div class="article-post-content" itemprop="articleBody">
        {{ content }}
      </div>

      {% if site.disqus.shortname %}
        {% include disqus_comments.html %}
      {% endif %}
    </article>
  </div>
</section>
</div>
